﻿* {
    box-sizing: border-box;
}

body{
    font-family: Verdana,sans-serif;
    position: relative;
    align-items: center;
}

/* header */
.header{
    background-color: white;
    box-sizing: border-box;
    z-index: 30;
    width: auto;
    position: fixed;
    height: 56px;
    transition: all;
    padding: 16px;
    top: 0px;
    margin: 0;
    left: 0;
    right: 0;
}

/* banner EDTS */
header{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    
}

.banner > img{
    max-width: 100%;
    height: auto;
}
.banner{
    margin-right: 94px;
    position: relative;
    margin-left: 93px;
}
@media only screen and (min-width: 501px) {
    .container{
        margin-left: 93px;
        margin-right: 94px;
    }

}


@media only screen and (max-width: 500px) {
    span{
        display: none;
    }
    .navbar{
        display: none;
    }
    .container{
        margin-left: 10%;
        margin-right: 10%;
    }
    .banner{
        margin: 0%;
    }
    .contex > img{
        max-width: 100%;
    }

    .people{
        max-width: 100%;
    } 

     .people > img{
        max-width: 100%;
        height: auto;
    }
    
/*  
    .row-people{
        flex-direction: column;
        justify-content: center;s
        row-gap: 12px;
    } */
 
}




.edts b{
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 36px;
    
}

.edts{
    position: absolute;
    display: inline-block;
}
h1{
    color: white;
    padding: 16px;
    font-size: 36px;
}
.logo{
    width: 200px;
    letter-spacing: 2px;
    font-size: 14px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar1, .navbar2, .navbar3{
    letter-spacing: 2px;
    margin-left: 8px;
    text-decoration: none;
    transition-duration: 0.2s;
    cursor: pointer;
    padding: 8px;
    color: black;
    font-size: 14px;

}

.navbar1:hover{
    background-color: #ccc;
}

.navbar2:hover{
    background-color: #ccc;
}

.navbar3:hover{
    background-color: #ccc;
}




/* projects */

.container{
    /* margin-left: 93px;
    margin-right: 94px; */
    position: relative;
    max-width: 1564px;
}
.projects >h3{
    margin-bottom: 4px;
    font-size: 25px;
    
}
.row{
    box-sizing: border-box;
    display: inline-block;
    max-width: 1564px;
    height: auto;
    margin-top: 4px;
    align-items: center;

}

.contex{
    margin: 4px;
    float: left;
    width: auto;
}

.contex > img{
    width: 362px;
    height: 242px;
}

.contex > p{
    position: absolute;
    width: 150px;
    height: 35px;
    padding: 8px;
    margin-top: 0px;
	z-index: 2;
    background-color: black;
    color: white;text-align: center;
    font-size: 14px;
}

/* about section */

/* .row-people {
    display: flex;
    flex-direction: row;
}
.people{
    flex:25%;
    padding:4px;
    margin:8px 0;
} */

.section{
    position: relative;
    top: 10px;
   
}

.section > h3{
    margin-bottom: 4px;
    font-size: 25px;
}
.section > p{
    margin-left: 0%;
}

.lorem{
   
    font-size: 14px;
}
.row-people{

    box-sizing: border-box;
    display: flow-root;
    max-width: 1564px;
    height: auto;
    margin-top: 4px;
    align-items: center;    

}
.people{
    margin: 4px;
    float: left;
}

.people > img{
    filter:saturate(0.3);
    width: 362px;
    height: 242px;
}
.people > button{
    width: 362px;
    height: 30px;
    border-color:transparent;
    max-width: 100%;
}

.people > button:hover{
    background-color: #ccc;
}

/* kontak */
.kontak{
    font-size: 14px;
}
#contact{
    position: relative;
    top: 20px;
}

#contact > h3 {
    margin-bottom: 4px;
    font-size: 25px;
}

#contact > p {
    margin-left: 0%;
    font-size: 14px;
}
.form-rows{
    margin-top: 10px;
}

.fields{
    font-size: 14px;
    margin-top: 8px;
    border-color: rgba(180, 176, 176, 0.562);
}

#subject, #name, #email, #comment {
    position: relative;
    height: 24px;
    width: 100%;
    
}

/* maps */

.maps{
    position: relative;
    top: 100px;
}

.maps > img{
    max-width: 100%;
    height: auto;
    display: flex;
}

/* contact-list */
.contact-list{
    top: 100px;
    position: relative;
}
.contact-list >h3{
    margin-bottom: 4px;
    font-size: 25px;
}
#submit{
    margin-top: 8px;
    background-color: black;
    color: white;
    height: 36px;
}

#submit:hover{
    background-color: #ccc;
    color: black;
}

table {
    margin-top: 12px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;
  }
  
td, th {
    text-align: left;
    padding: 12px;
    font-size: 14px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }


  /* general */

hr{
    border: 1px solid rgba(233, 231, 231, 0.993);
}

h4{
    top: 0;
    font-size: 14px;
    font-weight: normal;
    color: gray;
}

h5{
    margin-top: 2px;
    font-size: 14px;
    font-weight: normal;
    width: 362px;
    position: relative;
    max-width: 100%;
}

/* footer */
.footer{
    background-color: black;
    color: white;
    box-sizing: border-box;
    position: relative;
    top: 150px;
    font-size: 10px;
    text-align: center;
    padding: 8px;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 56px;
    width: 100%;
}